{include="header"}
<script>
    $(document).ready(function () {
        $("#b_configuracion").click(function (event) {
            event.preventDefault();
            $("#modal_configuracion").modal('show');
            document.f_configuracion.comando.focus();
        });
    });
</script>
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-xs-6">
            <h3>Cópias de seguridad&nbsp;
                <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
                <span class="btn-group">
                    <a id="b_configuracion" class="btn btn-sm btn-default" href="#">
                        <span class="fa fa-gears"></span>
                        <span class="hidden-xs">&nbsp; Configuración</span>
                    </a>
                    {loop="$fsc->extensions"}
                    {if="$value->type=='button'"}
                    <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                    {/if}
                    {/loop}
                </span>
            </h3>
        </div>
        <div class="col-xs-6 text-right">
            {if="$fsc->backup_comando"}
            <span class="text-success">Configuración correcta {$fsc->db_version} {$fsc->backup_comando}</span>
            {else}
            <span class="text-danger">No se encuentra una herramienta de Backup</span>
            {/if}
            <a class="btn btn-sm btn-primary" aria-label="Nueva cópia" {if="$fsc->backup_comando"}href="{$fsc->url()}&nueva=true"{else}href="#"{/if}>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Fecha</th>
                    <th>Restaurar</th>
                    <th>Descargar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            {loop="$fsc->files"}
            <tr>
                <td class="text-left">{$value->filename}</td>
                <td class="text-left">{$value->size}</td>
                <td class="text-left">{$value->date}</td>
                <td class="text-left"><button type="button" class="btn  btn-success btn-sm"><span class="fa fa-undo"></span>  Restaurar</button></td>
                <td class="text-left">
                    <a href="{#FS_PATH#}{$fsc->path}/{$value->filename}" class="btn btn-primary" aria-label="Descargar">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    </a>
                </td>
                <td class="text-left">
                    <button type="button" class="btn btn-danger" aria-label="Eliminar">
                        <span class="fa fa-trash" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            {else}
            <tr  class="bg-warning">
                <td colspan="6">
                    No se ha encontrado ningún archivo.
                </td>
            </tr>
            {/loop}
        </table>
    </div>
</div>
<div class="modal" id="modal_configuracion">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="f_configuracion" action="{$fsc->url()}" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span class="fa fa-gears"></span>Configuración</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Comando:</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="backup_comando" value="{$fsc->backup_comando}" autocomplete="off"/>
                        </div>
                        <span class="help-block">
                            Aqui debes configurar si no se detectó automáticamente el comando para ejecutar el backup de
                            de la base de datos, el comando suele ser mysqldump o pg_dump, pero debes colocar su path completo,
                            por ejemplo <code>/usr/src/local/mysqldump</code> o <code>e:\postgresql\bin\pg_dump.exe</code>, al guardar
                            este comando veras en la pantalla principal si lo pudimos encontrar o nó, si no se reconoce el comando de backup no se podrá
                            crear ningún backup.
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-primary" type="submit" name="accion" value="configuracion" onclick="this.disabled = true;
                       this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{include="footer"}
